<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/app.css'%}">
    {% block head %}
    <title>Base</title>
    {% endblock %}
</head>
<body>
    <header class="main-header">
        <div>
            <form method="get">
               <input type="search" placeholder="Search for posts and members">
           </form>
           <div id="logo"></div>
       </div>
        <nav>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Members</a></li>
                <li><a href="{% url 'add_post' %}">Create Post</a></li>
                <li><a href="#">Home</a></li>
             </ul
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    
    <footer>
       <div>
            <h4>All right reserved &copy; 2018</h4>
            <h4>Done by: Ahmed Alrifai</h4>
        </div>
    </footer>
</body>
</html>
