{% extends 'base.html' %}

{% load humanize %}

{% block head %}

    <title>{{ post.title }}</title>

{% endblock %}


{% block content %}
    
    <article>
        <header>
           
            <div>
               <h1>{{ post.title }}</h1>
                <a href="{% url 'post_edit' year=post.pub_date.year month=post.pub_date.month slug=post.slug %}"><button>Edit</button></a>
                
                <a href="{% url 'post_delete' year=post.pub_date.year month=post.pub_date.month slug=post.slug %}"><button>Delete</button></a>
            </div>
            <p>Created by <a href="#">{{ post.user.username }}</a> {{ post.pub_date|naturaltime}}</p>
        </header>
        <p>{{ post.content }}</p>
    </article> 
{% endblock %}